@tailwind base;

@tailwind components;

@tailwind utilities;

main a,
footer a {
  @apply text-blue-800;
  @apply underline;
}

a {
  transition: text-shadow 250ms;
}

a:hover {
  text-shadow: -1px -1px;
}

.site-title {
  text-shadow: -1px -1px;
}

.markdown-styles {
  p {
    @apply mb-2;
  }
}

/* START flexbox sticky footer */
html,
body,
#__next {
  height: 100%;
}

#__next {
  display: flex;
  flex-direction: column;
}

main#content {
  flex: 1 0 auto;
}

footer#footer {
  flex-shrink: 0;
}
/* END flexbox sticky footer */
