/* purgecss start ignore */
@import "tailwindcss/base";
@import "@fortawesome/fontawesome-svg-core/styles.css";
@import "highlight.js/styles/stackoverflow-dark.css";
/* purgecss end ignore */

@import "tailwindcss/components";
@import "tailwindcss/utilities";

main a,
footer a {
  @apply underline text-boldblue;
}

/* START global styles */
html {
  font-family: Monaco, "Lucida Console", monospace;
  @apply bg-black text-white1;
}
h2,
h3,
h4,
h5,
h6 {
  @apply text-boldgreen;
}
main h2 {
  @apply text-lg mt-4;
  &::before {
    content: "## ";
  }
}
main h3 {
  @apply mt-4;
  &::before {
    content: "### ";
  }
}
a {
  transition: text-shadow 200ms;
}
a:hover,
a:focus {
  text-shadow: 1px 1px;
}
/* END global styles */

/* START general purpose classes */
.page-content {
  @apply max-w-xl px-2 mx-auto;
}
.markdown-styles {
  p {
    @apply mb-4;
  }
}
/* END general purpose classes */

/* START code blocks */
pre {
  margin: 1rem 0;
}
@media screen and (min-width: 43rem) {
  pre {
    margin-left: -3rem;
    margin-right: -3rem;
  }
}

.hljs {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}
/* END code blocks */

/* START flexbox sticky footer */
html,
body,
#__next {
  height: 100%;
}

#__next {
  display: flex;
  flex-direction: column;
}

main#content {
  flex: 1 0 auto;
}

footer#footer {
  flex-shrink: 0;
}
/* END flexbox sticky footer */

/* I don't actually want to use scss, tailwind provides enough features, but I
 * don't want so many syntax errors from coc-css, setting the file type to scss
 * seems like the easy solution here.
 */
/* vim: set ft=scss : */
