---
title: Jack's website
url: /
contacts:
  - source: GitHub
    label: /jay-aye-see-kay
    url: https://github.com/jay-aye-see-kay
  - source: Stackoverflow
    label: /jay-aye-see-kay
    url: https://stackoverflow.com/users/7164888/jay-aye-see-kay
  - source: LinkedIn
    label: /jackderryrose
    url: https://linkedin.com/in/jackderryrose
---

<h1>{{ title }}</h1>

<h2>About</h2>
<p>Like most software developers I want to write more than I do, and I've spent 10x more time [re]writing software for
  my own website/blog than writing prose for it. So this time around I'm making a deal with myself; each time I write
  and publish something, I can add a new feature to the site. Writing about the blog itself is allowed but doesn't count
  in this deal.</p>
<p>If you're wondering why the styling is so basic and there's no navbar, it's because I haven't written enough to
  jusitfy those features yet. Coming soon!</p>

<h2>Links around the site</h2>
<ul>
  <li>Posts:
    <ul>
      <li><a href="/posts/the-deal">details (and progress) of "the deal"</a></li>
    </ul>
  </li>
  <li><a href="/til">TILs</a>
    {{ comp.til_list() | safe }}
  </li>
</ul>

<h2>Contact me</h2>
<ul>
  {% for c in contacts %}
    <li>
      {{ c.source }}: <a href="{{ c.url }}">{{ c.label }}</a>
    </li>
  {% endfor %}
</ul>
